@use '~/styles/abstracts/variables' as var;

.appError {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: var.$text-5xl;
  font-weight: var.$font-bold;
  color: map-get(var.$color-red, 600);
}

.text {
  font-size: var.$text-lg;
}

.link {
  position: relative;
  color: map-get(var.$color-red, 600);

  &::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 0.125rem;
    background-color: map-get(var.$color-red, 600);
    transition: width var.$transition;
  }
  &:hover::after {
    width: 100%;
  }

  &:focus-visible {
    outline: 0.125rem solid map-get(var.$color-red, 600);
    outline-offset: 1rem;
  }
}
