@use '~/styles/abstracts/variables' as var;

.mainLayout {
  color: map-get(var.$color-neutral, 300);
  background-color: map-get(var.$color-neutral, 900);
}

.container {
  min-height: 100vh;
  max-width: 40rem;
  width: calc(100% - 2rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.header {
  padding-block: 3rem;
  border-bottom: 0.125rem solid map-get(var.$color-neutral, 800);
}

.logo {
  height: 3rem;
  color: map-get(var.$color-neutral, 500);
}

.footer {
  padding-block: 3rem;
  font-size: var.$text-sm;
  text-align: center;
  border-top: 0.125rem solid map-get(var.$color-neutral, 800);
}
